# 0. Variables

In [5]:
namein="Romen Rake"
numin=89
print(namein)
print(numin)

Romen Rake
89

In [8]:
numin
namein

'Romen Rake'

In [2]:
print('Renotte')

Renotte

In [3]:
float_variable=78.09
type(float_variable)

float

In [5]:
float_variable +2.91

81.0

In [7]:
bool_variable=True
bool_variable

True

# 1.LIST

In [1]:
data = ["Rose", "Lotus","SUnflower", "Lily","Orchid"]
type(data)

list

In [2]:
data[0]

'Rose'

In [3]:
data[3]

'Lily'

In [11]:
#CREATE
#we are  creating a list

nnum =[1,3,0,7,4,9,5]
type(nnum )

list

In [14]:
#READ
nnum[3]

7

In [15]:
nnum

[1, 3, 0, 7, 4, 9, 5]

In [12]:
len(nnum)

7

In [16]:
print(nnum)

[1, 3, 0, 7, 4, 9, 5]

In [23]:
#UPDATE
nnum[2]=41

In [24]:
nnum

[1, 67, 41, 6, 7, 4, 9, 5]

In [26]:
nnum.insert(1,901)
nnum

[1, 901, 901, 67, 41, 6, 7, 4, 9, 5]

In [30]:
#DELETE
del nnum[1]

In [31]:
nnum

[1, 67, 41, 6, 7, 4, 9, 5]

In [33]:
del nnum[-1]
nnum

[1, 67, 41, 6, 7, 4]

In [34]:
del nnum[-1]
nnum

[1, 67, 41, 6, 7]

In [35]:
del nnum[-1]
nnum

[1, 67, 41, 6]

In [36]:
nnum.clear()

In [37]:
nnum

[]

# 2.TUPLE

In [38]:
#CREATE

nme=('Bala','Soma','Artina', 'Ithoi', 'Dolly')
type(nme)

tuple

In [39]:
#SO TUPLES ARE NOT MUTABLE
del nme[1]

TypeError: 'tuple' object doesn't support item deletion

In [41]:
#READ
nme[1]

'Soma'

In [42]:
nme[3]

'Ithoi'

# 3. SET 
## Set are usually used to remove duplicates in a list by typecasting
###  type list(set(list_variable))

In [47]:
#CREATE
nnme= {"apple","guava","mango","plum","kiwi","goosberry"}
type(nnme)

set

In [44]:
nnme

{'apple', 'goosberry', 'guava', 'kiwi', 'mango', 'plum'}

In [48]:
#READ. SO LIST ARE ALSO NOT IMMUTABLE
nnme[1]

TypeError: 'set' object is not subscriptable

# 4.DICTIONARY

In [3]:
#CREATE

In [9]:
student={ "name":"Rojes",
         "age":23,
         "address":"Nambol",
         "class":12
}

In [14]:
#READ

student

{'name': 'Rojes', 'age': 23, 'address': 'Nambol', 'class': 12}

In [13]:
student["name"]

'Rojes'

In [15]:
student["age"]

23

In [17]:
student.keys()

dict_keys(['name', 'age', 'address', 'class'])

In [18]:
student.values()

dict_values(['Rojes', 23, 'Nambol', 12])

In [21]:
list(student)[1]

'age'

In [22]:
student

{'name': 'Rojes', 'age': 23, 'address': 'Nambol', 'class': 12}

In [ ]:
#UPDATE

In [24]:
student["age"]=32

In [25]:
student

{'name': 'Rojes', 'age': 32, 'address': 'Nambol', 'class': 12}

In [33]:
#UPDATE

In [36]:
student["sex"]="Male"
student

{'name': 'Rojes', 'age': 32, 'class': 12, 'address': 'Kamong', 'sex': 'Male'}

In [37]:
 student["address"]="Kamong"

In [31]:
student

{'name': 'Rojes', 'age': 32, 'class': 12, 'address': 'Kamong'}

In [38]:
#DELETE

In [40]:
del student["address"]

In [41]:
student

{'name': 'Rojes', 'age': 32, 'class': 12, 'sex': 'Male'}

In [42]:
del student["sex"]

In [43]:
student

{'name': 'Rojes', 'age': 32, 'class': 12}

# 5. CONDITIONS AND LOGIC

### IF ELSE ELIF LOOPS

In [50]:
name="Mutum"
if name=="Mutum":
    print("Hey! Sexy girl. You wanna be my Bae.")

Hey! Sexy girl. You wanna be my Bae.

In [64]:
prob =-2
if prob>=0.5:
    print("There is high chance of winning.")
elif prob<0:
    print("Yo! check your probability.")
else:
    print("There is no chance of winning.")

Yo! check your probability.

# For loops

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
aqaq={"aaa","bbb","ccc","ddd"}
for aq in aqaq:
    print(aq)

bbb
ccc
ddd
aaa

In [6]:
for i in range(4):
    print('Good morning')

Good morning
Good morning
Good morning
Good morning

In [16]:
#PRINT ODD NUMBERS
for aa in range(11):
    if aa%2==1:
        print(" {} is an odd number.".format(aa))
    else:
        pass

 1 is an odd number.
 3 is an odd number.
 5 is an odd number.
 7 is an odd number.
 9 is an odd number.

In [32]:
Hindi_marks=[89,91,67,89,76,95,86,97,59,65]
total_mark=0
for Hindi_mark in Hindi_marks:
    total_mark+=Hindi_mark
print("{} is the total mark scored.".format(total_mark))
a=len(Hindi_marks)
print("{} is the number of students.".format(a))
av_markk =total_mark/a
print("{} is the average mark scored.".format(av_markk))

814 is the total mark scored.
10 is the number of students.
81.4 is the average mark scored.

In [38]:
MIL_marks=[89,91,67,89,76,95,86,97,59,65]
total_mark=0
for index,MIL_mark in enumerate(MIL_marks):
    print(index)
    print(MIL_mark)

0
89
1
91
2
67
3
89
4
76
5
95
6
86
7
97
8
59
9
65

In [6]:
space_shuttle=0
launch_shuttle=12
while True:
    print("Space shuttle launched")
    space_shuttle +=1
    if space_shuttle == launch_shuttle:
     print("THe space shuttles are launched.")
     break

Space shuttle launched
Space shuttle launched
Space shuttle launched
Space shuttle launched
Space shuttle launched
Space shuttle launched
Space shuttle launched
Space shuttle launched
Space shuttle launched
Space shuttle launched
Space shuttle launched
Space shuttle launched
THe space shuttles are launched.

In [8]:
space_shuttle=0
launch_shuttle=12
while True:
    print("Space shuttle {} launched".format(space_shuttle+1))
    space_shuttle +=1
    if space_shuttle == launch_shuttle:
     print("THe space shuttles are launched.")
     break

Space shuttle 1 launched
Space shuttle 2 launched
Space shuttle 3 launched
Space shuttle 4 launched
Space shuttle 5 launched
Space shuttle 6 launched
Space shuttle 7 launched
Space shuttle 8 launched
Space shuttle 9 launched
Space shuttle 10 launched
Space shuttle 11 launched
Space shuttle 12 launched
THe space shuttles are launched.

In [9]:
#Accessing dictionary values
Athkete={
     "name":"Mary Kom",
     "game":"boxing",
     "Olympian":"Yes",
     "age":41,
     "state":"Manipur"
 }

In [10]:
Athkete.values()

dict_values(['Mary Kom', 'boxing', 'Yes', 41, 'Manipur'])

In [15]:
#accessing values from the dictionary
for value in Athkete.values():
    print(value)

Mary Kom
boxing
Yes
41
Manipur

In [12]:
Athkete.keys()

dict_keys(['name', 'game', 'Olympian', 'age', 'state'])

In [17]:
#looping and accessing key values from the dictionary
for key in Athkete.keys():
     print(key)

name
game
Olympian
age
state

In [18]:
# accessing key and values at the same time
Athkete.items()

dict_items([('name', 'Mary Kom'), ('game', 'boxing'), ('Olympian', 'Yes'), ('age', 41), ('state', 'Manipur')])

In [24]:
for key,value in Athkete.items():
    print(key)
    print(value,'\n')

name
Mary Kom

game
boxing

Olympian
Yes

age
41

state
Manipur

In [27]:
name_ll={"bala","soma","artina","momoko","apsara"}
name_lll=[name_l.title() for name_l in name_ll]

In [28]:
name_lll

['Apsara', 'Bala', 'Soma', 'Momoko', 'Artina']