# INTRODUCTION TO PYTHON USING JUPYTER NOTEBOOK

#### JUPYTER NOTEBOOK

In [4]:
print(7)

7

# 01.VARIABLES

In [3]:
x=10
print(x)

10

In [9]:
my_fiancee="Daya"
my_fiancee

'Daya'

In [8]:
my_score_in_Gate=58
my_score_in_Gate

58

In [7]:
my_college="NIT Manipur"
my_college

'NIT Manipur'

# MORE ABOUT PRINT FUNCTION

## * format
## *end and separate format

In [13]:
print("Hello","World","I","Love","Python")

Hello World I Love Python

In [14]:
print("Hello","World","I","Love","Python",sep=",")

Hello,World,I,Love,Python

In [15]:
print("Hello","World","I","Love","Python",sep="\n")

Hello
World
I
Love
Python

In [16]:
print("Hello","World","I","Love","Python",sep="\n\n")

Hello

World

I

Love

Python

In [17]:
a=10 
b=20
print(a)
print(b)

10
20

In [20]:
print(a,end="  ")
print(b)

10  20

In [21]:
print(a,end=",")
print(b)

10,20

In [24]:
p="Indians"
q="Mangoes"
r="Russian"
s="Pizzas"
print("{0} love {1}.".format(p,q))

Indians love Mangoes.

In [26]:
print("{0} love {1}.".format(r,s))

Russian love Pizzas.

In [28]:
c=19
d=29
e=39
print("You entered %d and %d."%(c,d))

You entered 19 and 29.

In [29]:
print("You entered %d,%d and %d."%(c,d,e))

You entered 19,29 and 39.

# 02.DATATYPES

In [12]:
space_agency="ISRO"
print(space_agency)

ISRO

In [13]:
space_num =234
print(space_num)

234

In [14]:
type(space_num)

int

In [15]:
space_name="MIG-V"
print(space_name)

MIG-V

In [16]:
type(space_name)

str

In [18]:
space_check="true"
type(space_check)

str

In [19]:
1>(0<1)

False

In [20]:
1>0<1

True

In [21]:
"a, b = a[b] = {}, 5"

'a, b = a[b] = {}, 5'

In [22]:
issubclass(object,type)

False

In [23]:
all([[]])

False

In [24]:
isinstance("str",type)

False

In [25]:
bool_condition="true"

# 03. LIST  ,  SET , TUPLES & DICTIONARY

## 03.01 LIST

# CREATE A LIST

In [17]:
My_list1=["Tokyo","Kyoto","New York","Chicago","London","Moscow"]
My_list1

['Tokyo', 'Kyoto', 'New York', 'Chicago', 'London', 'Moscow']

In [18]:
#READ
My_list1[0]

'Tokyo'

# READ BY INDEXING

In [19]:
My_list1[2]

'New York'

In [20]:
My_list1[-2]

'London'

In [21]:
My_list1[1:3]

['Kyoto', 'New York']

In [22]:
My_list1[3:]

['Chicago', 'London', 'Moscow']

In [23]:
My_list1[0:4]

['Tokyo', 'Kyoto', 'New York', 'Chicago']

In [24]:
My_list1[:3]

['Tokyo', 'Kyoto', 'New York']

In [25]:
len(My_list1)

6

# Update

In [26]:
My_list1.insert(2,'Florida')
My_list1

['Tokyo', 'Kyoto', 'Florida', 'New York', 'Chicago', 'London', 'Moscow']

In [27]:
My_list1.append('Montreal')
My_list1

['Tokyo',
 'Kyoto',
 'Florida',
 'New York',
 'Chicago',
 'London',
 'Moscow',
 'Montreal']

In [28]:
My_list2=['Imphal','Nambol','Kakching','Lamlai','KHumbong']
My_list1.extend(My_list2)
print(My_list1)

['Tokyo', 'Kyoto', 'Florida', 'New York', 'Chicago', 'London', 'Moscow', 'Montreal', 'Imphal', 'Nambol', 'Kakching', 'Lamlai', 'KHumbong']

# DELETE

In [35]:
My_list1

['Tokyo',
 'Kyoto',
 'New York',
 'Chicago',
 'London',
 'Moscow',
 'Montreal',
 'Imphal',
 'Nambol',
 'Kakching',
 'Lamlai',
 'KHumbong']

In [36]:
My_list1.remove('Kakching')

In [37]:
My_list1

['Tokyo',
 'Kyoto',
 'New York',
 'Chicago',
 'London',
 'Moscow',
 'Montreal',
 'Imphal',
 'Nambol',
 'Lamlai',
 'KHumbong']

# REMOVE BY INDEXING

In [38]:
My_list1.pop(3)

'Chicago'

In [39]:
My_list1

['Tokyo',
 'Kyoto',
 'New York',
 'London',
 'Moscow',
 'Montreal',
 'Imphal',
 'Nambol',
 'Lamlai',
 'KHumbong']

# More about Dictionary

In [57]:
Biodata = { 'name' : 'Raj' ,
            'age'  :24,
           'address':'New York'
          }

In [58]:
print(Biodata)

{'name': 'Raj', 'age': 24, 'address': 'New York'}

# Read

In [59]:
Biodata

{'name': 'Raj', 'age': 24, 'address': 'New York'}

In [60]:
Biodata.keys()

dict_keys(['name', 'age', 'address'])

In [61]:
Biodata.values()

dict_values(['Raj', 24, 'New York'])

In [62]:
Biodata['age']

24

In [63]:
Biodata['name']

'Raj'

# update

In [64]:
Biodata['address']='Tokyo'

In [65]:
Biodata['age']=23

In [66]:
Biodata

{'name': 'Raj', 'age': 23, 'address': 'Tokyo'}

In [67]:
Biodata['company'] = 'Meta'

In [68]:
Biodata

{'name': 'Raj', 'age': 23, 'address': 'Tokyo', 'company': 'Meta'}

# Deleting a value

In [69]:
del Biodata['age']

In [70]:
Biodata

{'name': 'Raj', 'address': 'Tokyo', 'company': 'Meta'}

# 4. CONDITIONS AND LOGIC

## IF Statements

In [75]:
# first condition of if sttt

x = "Tanu"
if x == "Tanu":
    print("Tanu is the lead female actor.")

Tanu is the lead female actor.

In [76]:
y = 45
if y != 43:
    print('The numbers are not matching.')

The numbers are not matching.

In [79]:
# second condition of if stt 
z = 54
a = 56
if z>a :
    print('z is greater than a.')
else:
    print('z is less than a.')

z is less than a.

In [ ]:
# third condition of if stt
prob = -7
#prob is greater than 0.5
if prob >0.5 :
 print(true)
#prob is less than  0
elif prob<0:
 print('Check your probabilty.')
else :

# 5. FOR LOOPS

In [32]:
#How to find the sum and average of weights using for loop
Weights=[56,59,57,49,59,56,50,58,57,59,57,56,54,53]
new_weight1=0
for new_weight in Weights:
    new_weight1=new_weight1+new_weight
    sum_weight=new_weight1
print("The total sum of weights is %d."%(sum_weight))
    
num=len(Weights)
avg=sum_weight/num
print("The average of their weights is %d."%(avg))

The total sum of weights is 780.
The average of their weights is 55.

In [ ]:
# Example of for loop