<a href="https://colab.research.google.com/github/romenlongcode/Python-for-Data-Science/blob/main/pyuth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=20
b=5
floor_div_result=a//b
modulus_result=a%b
exponential_result=a**b
print("Exponent Result:",exponential_result)
print("Floor Division Result:",floor_div_result)
print("Modulus Result:",modulus_result)

Exponent Result: 3200000
Floor Division Result: 4
Modulus Result: 0

In [4]:
#Comparison
num1=45
num2=48
print("num1 is equal to num2:",num1==num2)

num1 is equal to num2: False

In [5]:
num1=23
num2=28
print("num1 is greater than or equal to :",num1>=num2)
print("num1 is less than or equal to :",num1<=num2)

num1 is greater than or equal to : False
num1 is less than or equal to : True

In [6]:
# LOGICAL OPERATORS
##AND
x=8
print(x>5 and x<10)

True

In [7]:
print(x>9 and x<6)

False

In [10]:
##OR
x=8
print(x>8 or x<8)

False